.sectionContainer {
  background-color: var(--background-blue);
  color: var(--font-aqua);
}

.coffeeLink {
  background-color: unset;
  border-bottom: none;
  padding: 0;
}

.coffeeImage {
  height: 51px;
  width: 217px;
}

.sectionLink {
  color: var(--font-white);
}
