.topicContainer {
  border: 2px solid black;
  border-top-width: 3px;
  border-right-width: 4px;
  margin-top: 20px;
  max-width: 750px;
  padding: 10px;
  display: flex;
}

.description {
  padding-bottom: 15px;
}

.buttons {
  margin-left: auto;
  margin-top: auto;
  padding: 5px;
}

.actionButton {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  margin: 8px 15px 8px 15px;
  padding: 3px;
  float: right;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  border-bottom: 5px solid #fdbfaf;
}

.focusableHeader:focus {
  outline: none;
}

.headerCard {
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .topicContainer {
    flex-direction: column;
  }
}
