.topicContainer {
  border: 2px solid black;
  border-top-width: 3px;
  border-right-width: 4px;
  margin-top: 20px;
  max-width: 750px;
  padding: 10px;
  display: flex;
}

.description {
  padding-bottom: 15px;
}

.buttons {
  margin-left: auto;
  margin-top: auto;
  padding: 5px;
}

.actionButton {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px 15px 8px 15px;
  float: right;
  min-width: 125px;
  text-align: center;
}

.focusableHeader:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .topicContainer {
    flex-direction: column;
  }
}
