.formInput[aria-invalid] {
  border: 2px solid #ea0000;
  margin-bottom: 5px;
}

.errorText {
  color: #ea0000;
  font-weight: bold;
}

.errorListHeader {
  font-weight: bold;
}

.formButton {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px;
  width: 175px;
  margin-top: 25px;
}

.formButton[aria-disabled] {
  background-color: lightgray;
  color: gray;
}
