.navList {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.navLink {
  display: block;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: #263238;
  transition: transform 0.5s ease-in-out;
  border-bottom: none;
}

.activePage {
  text-decoration: underline;
}

.inactivePage:hover {
  transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  color: black;
  text-decoration: underline;
}
