.introContainer {
  align-items: center;
  border: 2px solid black;
  border-top-width: 3px;
  border-right-width: 4px;
  box-shadow: 5px -10px #d1c8ff;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 15px;
}
