.listSection {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #fdbfaf;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.spinnerCopy {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
