.header {
  height: 125px;
  background-color: white;
  display: flex;
  align-items: flex-end;
}

.wrapper {
  position: relative;
  height: 90vh;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-left: 25px;
}

.headerLink {
  margin-left: 25px;
  margin-bottom: 25px;
}

.contentContainer {
  display: flex;
  flex-direction: row-reverse;
}

.sidePanel {
  padding: 25px;
}

.infoLink {
  border: 1px solid black;
  padding: 15px;
}

.articleContent {
  width: 100%;
  padding: 25px;
}

.titleText {
  font-size: 2rem;
  font-weight: bold;
}
