body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

.plainList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plainList li {
  padding: 0;
}

li {
  padding-bottom: 8px;
}

.topicHeader {
  margin-top: 35px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .topicHeader {
    margin: 35px -100px 30px -100px;
  }
}
