:root {
  --background-gray: #e7e7e7;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: var(--background-gray);
  color: #040000;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 3px solid #fdbfaf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: normal;
}

p {
  line-height: 1.5rem;
}

.plainList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plainList li {
  padding: 0;
}

li {
  padding-bottom: 8px;
}

.topicHeader {
  margin-top: 35px;
  margin-bottom: 30px;
}

button {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px;
  width: 175px;
  margin-top: 25px;
}

code {
  padding: 5px;
  background-color: lightgray;
}
