
.formWrapper {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 10px;
}

input {
  min-height: 30px;
  border: 3px solid var(--form-color-gray);
  background-color: var(--background-gray);
  padding: 5px 10px 5px 10px;
  font-size: 1rem;
}

textarea {
  min-height: 150px;
  border: 3px solid var(--form-color-gray);
  background-color: var(--background-gray);
  padding: 5px 10px 5px 10px;
  font-size: 1rem;
}

textarea:required {
  box-shadow: none;
}

button {
  font-weight: normal;
  background-color: var(--form-color-gray);
  color: white;
  font-size: 1.2rem;
  padding: 8px;
  width: 175px;
  margin-top: 25px;
}
