.wrapper {
  background-color: white;
  border: 1px solid var(--form-color-gray);
  border-radius: 3px;
  padding: 20px 10px;
}

.wrapper form {
  display: flex;
  flex-direction: column;
}

.wrapper form input {
  max-width: 350px;
}

.wrapper form fieldset {
  border: none;
}

.wrapper form fieldset legend {
  font-weight: bold;
}

.wrapper form fieldset label {
  font-weight: normal;
}