.container {
  padding: 25px;
  padding-bottom: 100px;
  max-width: 850px;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 25px 50px 100px 50px;
  }
}

blockquote {
  padding: 5px 25px;
  border-left: 8px solid #fdbfaf;
  background: #f4f2f2;
  display: inline-block;
}
