.container {
  padding: 25px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 25px 150px 25px 150px;
  }
}

blockquote {
  padding: 5px 0 5px 25px;
  border-left: 8px solid #fdbfaf;
  background: #f4f2f2;
}
