header {
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: var(--background-white);
  width: 100%;
}

.header {
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  background-color: unset;
  border-bottom: none;
}

.logoLink:hover {
  background-color: unset;
}

.titleLink {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.currentPageLink {
  border-bottom: none;
}

.navigation {
  display: flex;
  align-items: flex-end;
}

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 25px;
  }

  .navigation {
    align-self: center;
  }
}
